*{
	padding:0px;
 	margin:0px;	
}

body, html{
	font-family:Roboto,sans-serif,arial;
	background:lavender;
}

.width-100{
	width:100% ;
	float: left;
}

.container{
	width: 100%;
	margin: 0px auto;
	height: auto;
}

.top-header{
	background:#2196f3;
	padding: 0px 0px;
	border-bottom: 1px solid #3131315e;
}

.news-list{
	background:#fff;
	color: red;
	padding:4px
	font-size:25px;
}

.headquote{
	font-size: 15px;
	color: #fff;
	width: 90%;
}

.header-menu{
	position: relative;
	box-shadow: 0px 2px 5px 0px #00000036;
}
.logo-img{
	height:100%;
	width:100%;
	float:left;
	display: flex;	
}
.main-menu{
	list-style: none;
	float: right;
	margin-top: 19px;
}
.btn{
	background: orange;
	color: white;
	padding: 5px 10px;
	text-align: center;
}

.btn:hover{
	color: red;
	background: white;
	padding: 3px 3px;
	border: 2px solid #f05462; 
}
.main-menu a{
	font-weight: 500;
	color: black;
	font-size: 17px;
	text-decoration: none;
	
}
.main-menu li{
	float: left;
	padding:12px  15px
}
.slider-width{
	width: 100% ;
	height: auto;
}
.margin-top-50{
	margin-top:50px;	
}
.width-33{
	width:33% ;
	float: left;
}
.latest-news{
	margin-left: 10px;
	margin-right: 10px;
	background: white;
	padding: 20px;
	height: 300px;
	margin-bottom: 20px;
}
.heading-sect{
	width: 100% ;
	float: left;
	border-bottom: 1px solid #cfcfcf;
	padding-bottom: 0px;
	margin:0px;
	margin-bottom: 15px;
	border: 1px solid #cfcfcf;
	padding-top: 15px;
	padding-left: 15px;
	background: #00aed9;
	color: white;
}
.head-title{
	margin:0px;
	padding:0px;
	font-size:16px;
	font-weight:600;
	padding-bottom:5px;
}
.latest-news-ul{
	padding:0px;
	list-style: none;
	line-height: 40px;
}
.event-list{
	margin-left: 10px;
	margin-right: 10px;
	background:white;
	padding: 20px;
	height: 300px;
	margin-bottom: 30px;
}
.Upcoming-event-list{
	padding: 0px;
	list-style: none;
}
.upcoming-even-list li{
	width:100% ;
	float: left;
	margin-bottom: 15px;
	list-style: none;
	padding: 0px;
}
.event-date{
	background:#03a9f4;
	width: 25px;
	float: left;
	text-align: left;
	font-size:10px;
	padding:15px;
	color:#fff;
	margin-right: 10px;
	list-style: none;
}
.notice-board{
	margin-left: 10px;
	margin-right: 10px;
	background:white;
	padding: 20px;
	height: 300px;
	margin-bottom: 30px;
}
.notice-board-list{
	padding: 0px;
	list-style: none;
	line-height: 40px;
	list-style: none;
}
.notice-board li{
	width:100% ;
	float: left;
	margin-bottom: 15px;
}
.gallery-head-style{
	font-size:28px;
	color:#4b4848;
	margin-bottom:5px;
	background:white;
	padding: 20px 10px;
}
.width-25{
	width: 100%;
	float: left;
}
.gallery-img{
	height:100%;
	width:100%;
	float:left;
	display: flex;
}
.Certificate-head-style{
	font-size:28px;
	color:#4b4848;
	margin-bottom:5px;
	background:white;
	padding: 20px 10px;
}
.width-25{
	width: 100%;
	float: left;
}
.Certificate-img{
	height:100%;
	width:100%;
	float:left;
	display: flex;
}
.width-25{
	width: 100%;
	float: left;
}
.About-head-style{
	font-size:28px;
	color:#4b4848;
	margin-bottom:5px;
	background:white;
	padding: 20px 10px;
}
.width-25{
	width: 100%;
	float: left;
}
.About-img{
	height:100%;
	width:100%;
	float:left;
	display: flex;
}
.icon-img{
	height:100%;
	width:100%;
	float:left;
	display: flex;	
}
 /* ---------------- HEADER ---------------- */
    .header{
      width:99%;
      background:#0057b7;
      color:white;
      padding:10px 10px;
      display:flex;
      align-items:center;
      justify-content:space-between;
      box-shadow:0 3px 10px rgba(0,0,0,0.2);
    }
    .header img{
      height:70px;
      border-radius:6px;
      object-fit:contain;
      background:white;
      padding:5px;
    }
    .header-center{
      text-align:center;
      width:100%;
    }
    .header-center h2{
      margin:0;
      font-size:26px;
      font-weight:800;
      letter-spacing:1px;
    }
    .header-center p{
      margin:3px 0;
      font-size:14px;
      font-weight:500;
    }